@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core @ViewData["Version"]</a>.</p>
    <feature name="NewFeature3">
        <p><a asp-action="NewFeature3">Introduction to the New Feature 3</a></p>
    </feature>
    
</div>
